#### IMAGES

IMMICH_VERSION=v2.5.6
IMMICH_SERVER_IMAGE=ghcr.io/immich-app/immich-server:${IMMICH_VERSION}
IMMICH_MACHINE_LEARNING_IMAGE=ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION}
IMMICH_POSTGRES_VERSION=14-vectorchord0.4.3-pgvectors0.2.0
IMMICH_POSTGRES_IMAGE=ghcr.io/immich-app/postgres:${IMMICH_POSTGRES_VERSION}
IMMICH_REDIS_VERSION=9
IMMICH_REDIS_IMAGE=docker.io/valkey/valkey:${IMMICH_REDIS_VERSION}

#### NETWORK

IMMICH_SERVER_IP=192.168.35.28
IMMICH_ML_IP=192.168.35.29
IMMICH_POSTGRES_IP=192.168.35.30
IMMICH_REDIS_IP=192.168.35.31

IMMICH_HOST=img.${DOMAIN}

#### DATABASE

IMMICH_DB_USER=immich
IMMICH_DB_NAME=immich

#### DATA PATHS

IMMICH_UPLOAD_DIR=${APPDATA_DIR}/immich/upload
IMMICH_LIBRARY_DIR=${APPDATA_DIR}/immich/library
